body, html {
    height: 100%;
    margin: 0;
}

.background {
    background-image: url('cp.png');
    height: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

/* #downloadButton {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: greenyellow;
} */
#downloadButton {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 14px; /* Smaller font size for a more refined look */
    cursor: pointer;
    background-color: white; 
    color: #0097F3; 
    border: none; /* Remove border for a cleaner look */
    border-radius: 4px; /* Rounded corners for a modern feel */
    text-transform: uppercase; /* Uppercase text for a more button-like appearance */
    font-weight: bold; /* Bold font for better legibility */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Subtle shadow for depth */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#downloadButton:hover {
    background-color: rgb(23,167,250); 
    color: white;
}